@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-info">Layout página principal</h2>
<p>Bem vindo a página principal da nossa aplicação</p>

<p class="text-justify">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent semper lacinia maximus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur sollicitudin metus quam, sit amet aliquam ante cursus eget. Donec ac ultricies ante. Aenean sit amet varius est. Praesent id enim vulputate, maximus mauris at, bibendum elit. Nam sit amet nibh pellentesque, fringilla felis in, ultrices magna. Nulla nec lacinia lacus, eu luctus dolor. Maecenas quis dolor a justo maximus tincidunt ac eu diam. Donec non neque feugiat, iaculis lorem ut, facilisis turpis. Nullam rutrum, ex non vulputate placerat, neque metus interdum ante, ac rhoncus dolor quam vitae sapien.
</p>
