@{
    ViewBag.Title = "Sobre";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-danger">Sobre</h2>
<p>Sobre da aplicação</p>
<p>Aprenda <strong> Asp .Net MVC</strong> passo a passo.</p>
<p class="text-justify">
    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris at facilisis enim, sed tincidunt nulla. Proin lobortis egestas lorem eu ultrices. Nam eu quam sed orci tincidunt venenatis a sit amet dui. Aliquam erat volutpat. Quisque ut faucibus purus, eget iaculis est. Morbi bibendum justo massa. Sed non erat ut turpis eleifend placerat. Aliquam feugiat, quam eu dapibus lacinia, tortor est rhoncus nibh, eu dignissim elit ipsum vitae turpis. Vestibulum nec diam non justo consequat fringilla ut et ante. Nulla facilisi. Fusce turpis ex, efficitur eget justo sit amet, porttitor facilisis purus. Nullam nec tincidunt mauris. Proin ornare blandit felis, in efficitur metus fringilla tempor.
</p>